{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css">
<style>
.applist {
    position: initial;
    float: left;
    margin: 5px;
    width: auto;
}

.icheckbox_line-blue {
    padding: 8px 18px 8px 38px !important;
}
</style>
{/block} {block name="body"}
<section class="content-header">
    <h1>添加巡检主机信息</h1>
    <div class="pull-right  action-btn clearfix">
        <a class="btn btn-primary" href="{:url('Host/Batch')}">批量处理</a>
    </div>
</section>
<div class="main-box clearfix ">
    <form method="post" id="host_add_form"  action="{:isset($info.id)?url('Host/editPost'):url('Host/addPost')}" class="form form-horizontal">
        <div class="row from-box">
            <div class="form-group">
                <label class="col-lg-2 control-label">系统名称</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="nodename" id="nodename" placeholder="系统名称" value="{$info.nodename}" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">主机名</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="hostname" id="hostname" value="{$info.hostname}" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">所在地</label>
                <div class="col-lg-10 col-sm-10">
                    <select name="location_id" class="form-control">
                        <option selected value="3">亦庄中金</option>
                        <option value="2">西三旗</option>
                        <option value="7">东单</option>
                    </select>
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">操作系统</label>
                <div class="col-lg-10 col-sm-10">
                    <select name="os_type" class="form-control">
                        <option value="1">AIX</option>
                        <option value="2">Solaris</option>
                        <option value="4">Windows</option>
                        <option value="8">Linux</option>
                    </select>
                    <div class="repassword-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">应用类型</label>
                <div class="col-lg-10 col-sm-10">
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="MQ" value="1">
                        <label for="MQ">MQ</label>
                    </div>
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="WAS" value="2">
                        <label for="WAS">WAS</label>
                    </div>
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="Oracle" value="4">
                        <label for="Oracle">Oracle</label>
                    </div>
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="TongEASY" value="8">
                        <label for="TongEASY">TongEASY</label>
                    </div>
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="Informix" value="16">
                        <label for="Informix">Informix</label>
                    </div>
                    <div class="applist">
                        <input type="checkbox" name="applist[]" id="GTP" value="64">
                        <label for="GTP">GTP</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">服务ID</label>
            <div class="col-lg-10 col-sm-10">
                <input type="text" class="form-control" name="server_id" id="server_id" value="{$info.server_id}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{$info.id}" />
                <button class="btn btn-success host_add_submit" type="button">确 定</button>
                <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</div>
{/block} {block name="script"}
<link rel="stylesheet" href="__ROOT__/public/plugins/iCheck/all.css" />
<script src="__ROOT__/public/plugins/iCheck/icheck.min.js"></script>
<script>
$(document).ready(function() {
    $('.applist input').each(function() {
        var self = $(this),
            label = self.next(),
            label_text = label.text();
        label.remove();
        self.iCheck({
            checkboxClass: 'icheckbox_line-blue',
            radioClass: 'iradio_line-blue',
            insert: '<div class="icheck_line-icon"></div>' + label_text
        });
    });
    $(".host_add_submit").on("click",function(){
        var posturl = $("#host_add_form").attr("action");
        var loading = layer.load(1, {
            shade: [0.1, '#000'] //0.1透明度的白色背景
        });
        $.ajax({
            url:posturl,
            type:'post',
            data:$("#host_add_form").serialize(),
        })
        .done(function(json) {
                layer.close(loading);
                if (json.code == 1) {
                    layer.msg(json.msg, function() {
                        //location.reload();
                    });
                } else {
                    layer.msg(json.msg);
                }
            })
            .fail(function(json) {
                layer.close(loading);
                layer.open({
                    title: '系统错误',
                    area: ['50%', '80%'],
                    content: json.responseText
                });
            });
        return false;
    });
});
</script>
{/block}