{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css"> {/block} {block name="body"}
<section class="content-header">
    <h1>
        中间件报警短信黑名单录入
        <small><a class="link" href="{:url('Tool/smsList')}">查看已有规则</a></small>
      </h1>
</section>
<div class="main-box clearfix ">
    <form method="post" id="user_add_form" checkurl="/mycms/index/user/checkusername" action="/mycms/index/user/addpost.html" class="form form-horizontal">
        <div class="row from-box">
            <div class="form-group">
                <label class="col-lg-2 control-label">中间件</label>
                <div class="col-lg-10 col-sm-10">
                    <select name="type" id="type" class="form-control">
                        <option value=''>请选择</option>
                        <option>GTP</option>
                        <option>TongEASY</option>
                        <option>MQ</option>
                    </select>
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">开始时间</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="user_nickname" id="user_nickname" value="">
                    <div class="help-block">
                        （<span class="text-red"> 若为空,则立即生效</span>）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">结束时间</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="password" class="form-control" name="user_password" id="user_password">
                    <div class="help-block">
                        （<span class="text-red"> 若为空,则立即生效</span>）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">过滤关键字</label>
                <div class="col-lg-10 col-sm-10">
                    <textarea class="form-control" id="keywords" name="keywords" cols="50" rows="5"></textarea>
                    <div class="help-block">
                        <p style="font-size:18px;font-weight:800;color:#ffaa22">规则中可以用“+”或“#”联接（+代表“<span>与/and</span>”，#代表“<span>或/or</span>”），<span style="color:red;">关键字为空项则过滤掉所选中间件的所有短信</span>。</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">节点提示</label>
                <div class="col-lg-10 col-sm-10">
                    <div class="form-group">
                        <select name="sysname" id="sysname" class="form-control" style="max-width:200px;float:left;">
                            <option>请选择系统</option>
                        </select>
                        <select name="othername" id="othername" class="form-control" style="max-width:200px;float:left;display:none;">
                            <option>------</option>
                        </select>
                    </div>
                    <div class="email-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" class="form-control" name="id" id="id" value="">
                    <button class="btn btn-success user_add_submit" type="button">提 交</button>
                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
$("#sub_query").on('click', function() {
    var nodename = $("[name=nodename]").val();
    var filename = $("[name=filename]").val();
    var sendfile = $("[name=sendfile]").val();
    if (!nodename) {
        $("[name=nodename]").focus();
        layer.msg('节点名称不能为空');
        return false;
    }
    if (!sendfile) {
        $("[name=sendfile]").focus();
        layer.msg('发送目录不能为空');
        return false;
    }
    if (!filename) {
        $("[name=filename]").focus();
        layer.msg('文件名不能为空');
        return false;
    }
    var loading = layer.load(1, {
        shade: [0.1, '#000'] //0.1透明度的白色背景
    });
    $.ajax({
            url: '{:url("tool/filePost")}',
            type: 'post',
            data: { 'nodename': nodename, 'filename': filename, 'sendfile': sendfile },
            success: function(json) {
                layer.close(loading);
                console.log(json);
                if (json.code && json.code == 1) {
                    layer.msg(json.msg, function() {
                        location.reload();
                    });
                } else {
                    layer.msg(json.msg);
                }
            },
        })
        .fail(function(json) {
            layer.close(loading);
            layer.open({
                title: '系统错误',
                area: ['50%', '80%'],
                content: json.responseText
            });
        });
    return false;
})
</script>
{/block}