<!-- txlog/syslog模态框 -->
        <div id="logmodal" class="modal fade" style="display:none;">
            <!-- 窗口声明 -->
            <div class="modal-dialog modal-lg">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                        <h5 class="modal-tittle">查询</h5>
                    </div>
                    <div class="modal-body">
                        加载中.....
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div> 
            </div>
        </div>
<!-- 通用模态框 -->
        <div id="commonmodal" class="modal fade" style="display:none;">
            <!-- 窗口声明 -->
            <div class="modal-dialog modal-lg"  style="width:403px;margin:200px auto;">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <div class="modal-header" style="font-size:16px;font-weight:bold;color:white;padding-left:8px;background: #157fcc none repeat scroll 0 0;height: 48px; line-height: 48px;  overflow: hidden;">
                        <button class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                        <h4 style="font-size:28px;font-weight:bold;margin-top: -20px;" class="modal-tittle panel-heading">信息提示</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;font-size:18px;font-weight:bold;">
                        加载中.....
                    </div>
                    <div class="modal-footer">
                        <span id="msgview"></span>&nbsp;
                        <span id="button">
                        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </span>
                    </div>
                </div> 
            </div>
        </div> 
 <script src="__PUBLIC__/home/js/footer.js" type="text/javascript"></script>  
<script src="__PUBLIC__/home/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script> -->
</body>
</html>