<script type="text/javascript">window.__qlt = {};window.__qlt.statisticsStart = +new Date;window.__qlt.pgtype = "play";
  window.__qlt.cid= "4";
</script>

<script type="text/javascript" src="http://static.iqiyi.com/js/player_v1/config/online.js"></script>
<script type="text/javascript" src="http://static.iqiyi.com/js/player_v1/config/online_4.js"></script>
<script type="text/javascript" src="http://static.iqiyi.com/js/player_v1/pcweb.wonder.js"></script>
<script type="text/javascript">
  window.__cannelOpenList = [];
</script> 
 
  
<div style="width:100%;">
<div style="880px" data-player-endtime="0" data-player-starttime="0" data-player-cycleplay="false" data-player-ismember="false" data-player-autoplay="true" data-player-flashvars="isSource=0" data-player-collectionid="" data-player-videoid="{$data.vid}" data-player-tvid="{$data.id}" data-player-albumid="{$data.aqipuid}" data-player-qiyiproduced="0" data-widget-player="flash" data-player-exclusive="1" data-player-issmallwindow="true" style="position:relative;float:left;" id="flashbox">
  <!-- <div class="videoWindow_tips" data-dragplaer-tip="tip">按住视频可进行拖动</div> -->
  <h3>{$data.vn}</h3>
  <div class="videoWindow_cover" data-dragplaer-cover="cover"></div>
  <div class="ctrl-layer" data-widget-layer="layer" style="display:none">
    <div class="ctrl-layerhalf" data-widget-videolayer="bigPlayLayer">
      <div class="layer-btn"><a class="ctrlbigplay" href="#" data-videolayer-elem="bigPlayOrStop"></a></div>
    </div>
    <div class="video-controlbox clearfix" data-widget-videoctrl="videoControl">
      <div class="ctrl-top"></div>
      <div class="ctrl-bot" data-widget-controlls="controlls">
        <div class="ctrl-m">
          <div class="ctrl-c">
            <div class="ctrl-scheduleBox">
              <div class="ctrl-scrollbg" data-videoctrl-elem="progressBar">
                <div class="ctrl-huibg">
                  <div class="ctrl-scrollbtn" data-videoctrl-elem="progress"><em class="ctrl-circle" data-videoctrl-elem="progressFocus"></em></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ctrl-l">
          <div class="ctrl-btn"><a class="ctrlplay" href="#" data-videoctrl-elem="playOrStop"></a></div>
          <div class="ctrl-split"></div>
          <div class="ctrl-time" data-videoctrl-elem="currentTime">00:00:00</div>
        </div>
        <div class="ctrl-r">
          <div class="ctrl-btn"><a class="ctrlscreen" href="#" data-videoctrl-elem="fullScreen"></a></div>
          <div class="ctrl-time" data-videoctrl-elem="totalTime">00:00:00</div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    QiyiPlayerLoader.ready(function(playerManager){
      var param = {};
      param['parentId'] = 'flashbox';
      param['albumid'] = '{$data.aqipuid}';
      param['tvid'] = '{$data.id}';
      param['vid'] = '{$data.vid}';
      param['albumId'] = '{$data.aqipuid}';
      param['channelID'] = "4";
      param['isMember'] = "false";
      param['qiyiProduced'] = "0";
      param['exclusive'] = "1";
      param['origin'] = "flash";
      param['collectionID'] = "";
      param['share_sTime'] = "";
      param['share_eTime'] = ""; 
      param['autoplay'] = true;
      param['cyclePlay'] = false;
      param['isSource'] = "0";
      param['pgct'] = window.__qlt.statisticsStart;
      param['usevr'] = false;    
      playerManager.createPlayer(param);
    });
</script>

</div> 
      
    </div>    