<link rel="stylesheet" href="__PUBLIC__/home/css/gtp.css">
<style type="text/css" media="screen">
          
.global-warp {
    -moz-user-select: none;
    /* background: #020508 url("__PUBLIC__/home/img/globalbg.jpg") no-repeat scroll center bottom / cover ; */
    background: #020508 url("__PUBLIC__/home/img/globalbg.jpg") fixed center center no-repeat;
background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
        </style>
<div id="container" class="container global-warp" style="margin:50px 0;width:100%;padding:0;text-align:center;color:#c2c2c2;"> 
<h1>该模块功能正在开发中......</h1>

</div>