{include file="public/header" /}
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper"> 
{include file="public/content_header" /}
{include file="public/left_sidebar" /} 
  <div class="content-wrapper"> 


{include file="index/index_content" /} 



  </div> 
<!--   <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">XTS</a>.</strong> All rights
    reserved.
  </footer>   -->
  <div class="control-sidebar-bg"></div>
</div> 
{include file="public/footer" /}

