    <section class="content-header">
      <h1>
        系统室 
      </h1>
<!--       <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Invoice</li>
      </ol> -->
    </section>

    <div class="pad margin no-print">
      <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info text-red"></i> 最新信息:</h4>
        系统最新信息.
      </div>
    </div>

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> 公告
            <small class="pull-right">列表</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
 

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>级别</th>
              <th>主题</th>
              <th>附件</th>
              <th>日期</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-red">重要</td>
              <td>文件</td>
              <td>文件221.pdf</td>
              <td>20170806 12:11:13</td>
              <td>查看详情|下载附件</td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>文件</td>
              <td>文件221.pdf</td>
              <td>20170806 12:11:13</td>
              <td>查看详情|下载附件</td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>文件</td>
              <td>文件221.pdf</td>
              <td>20170806 12:11:13</td>
              <td>查看详情|下载附件</td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>文件</td>
              <td>文件221.pdf</td>
              <td>20170806 12:11:13</td>
              <td>查看详情|下载附件</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
        <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> 报警信息
            <small class="pull-right"><button class='btn btn-link'>点击查看更多</button></small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>级别</th>
              <th>系统名称</th>
              <th>报警内容</th>
              <th>报警日期</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-red">重要</td>
              <td>外汇卡</td>
              <td>磁盘空间满，<span class="text-red">100%</span></td>
              <td>20170806 12:11:13</td>
              <td><button type="button" class="btn">查看详情</button></td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>外汇卡</td>
              <td>磁盘空间满，<span class="text-red">100%</span></td>
              <td>20170806 12:11:13</td>
              <td><button type="button" class="btn">查看详情</button></td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>外汇卡</td>
              <td>磁盘空间满，<span class="text-red">100%</span></td>
              <td>20170806 12:11:13</td>
              <td><button type="button" class="btn">查看详情</button></td>
            </tr>
            <tr>
              <td class="text-red">重要</td>
              <td>外汇卡</td>
              <td>磁盘空间满，<span class="text-red">100%</span></td>
              <td>20170806 12:11:13</td>
              <td><button type="button" class="btn">查看详情</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12"> 
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-windows"></i> Windows巡检 
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-linux"></i> Linux巡检 
          </button>
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>