{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css">
<style>
.content-header {
    border-bottom: 1px #d2d6de solid;
    padding-bottom: 10px;
}

.main-box {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #73080a;
    border-radius: 5px;
}

.from-box {
    margin-left: -10px;
    margin-right: 20px;
    margin-top: 20px;
}
</style>
{/block} {block name="body"}
<section class="content-header">
    <h1><a class="title" id="add_menu_button" href="{:url('index')}">菜单管理</a> <small>{:isset($info['id'])?'编辑':'新增'}菜单</small></h1>
</section>
<div class="main-box clearfix ">
    <form method="post" id="menu_edit_form" class="form form-horizontal">
        <div class="row from-box">
            <div class="form-group">
                <label class="col-lg-2 control-label">名称</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="name" value="{$info.name|default=''}">
                    <div class="help-block">
                        用于导航显示（<span class="title_block text-red">必填</span>）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">上级菜单</label>
                <div class="col-md-6 col-sm-10">
                    <select name="pid" class="form-control">
                        <option value="0">作为一级菜单</option>{$select_category}
                    </select>
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">应用</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="app" value="{$info.app|default=''}">
                    <div class="help-block">
                        （<span class="text-red">必填</span>）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">控制器</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="controller" value="{$info.controller|default=''}">
                    <div class="help-block">
                        （<span class="text-red">必填</span>）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">方法</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="action" value="{$info.action|default=''}">
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">参数</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="param" value="{$info.param|default=''}" />
                    <div class="help-block"> 例:id=3&p=3
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">小图标</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="icon" value="{$info.icon|default=''}" />
                    <div class="help-block">
                        （用于显示在菜单左侧，不填则不显示）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">排序</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="list_order" value="{$info.list_order|default=0}" />
                    <div class="help-block">
                        （用于分组显示的顺序）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">状态</label>
                <div class="col-md-6 col-sm-10">
                    <select class="form-control valid" name="status" aria-invalid="false">
                        <option value="1">显示</option>
                        <option value="0" {if isset($info['status']) && $info['status']==0}selected{/if}>隐藏</option>
                    </select>
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">类型</label>
                <div class="col-md-6 col-sm-10">
                    <select class="form-control valid" name="type" id="input-type" aria-invalid="false">
                        <option value="1">有界面可访问菜单</option>
                        <option value="2" {if isset($info['type']) && $info['type']==2}selected{/if}>无界面可访问菜单</option>
                        <option value="0" {if isset($info['type']) && $info['type']==0}selected{/if}>只作为菜单</option>
                    </select>
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">备注</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="remark" value="{$info.remark|default=''}" />
                    <div class="help-block">
                        （菜单详细说明）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="id" value="{$info['id']|default=''}">
                    <input type="hidden" name="posturl" value="{$info['posturl']|default=''}">
                    <button class="btn btn-success add_menu_submit" type="button">确 定</button>
                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="__ROOT__/public/static/js/menu.js"></script>
{/block}