{extend name="public/base"}  
{block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css"> 
<style>
 .action-btn{
        float: right;
        background: transparent;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        padding: 7px 5px;
        position: absolute;
        top: 5px;
        right: 10px;
        border-radius: 2px;
    }
</style>
{/block}
{block name="body"}  
<section class="content-header" style="border-bottom: 1px #d2d6de solid;padding-bottom: 10px; ">
      <h1>
        菜单管理
        <small>菜单列表</small>
      </h1> 
      <div class="pull-right action-btn"> 
                    <a class="btn btn-primary" id="add_menu_button" href="{:url('add',array('pid'=>input('get.pid',0)))}">新 增</a>
                    <button class="btn btn-danger ajax-post confirm" url="{:url('del')}" target-form="ids">删 除</button> 
                </div>
    </section>

<div class="container"> 
    <div  id="indexcontent">
        <div style="margin:10px;background-color: #fff;" id="content_allmainview">   
            <div id="content_menus" temp="content"  >  
                <div class="blank10"></div>
                <div id="admin">
                    <div id="tablebody" >
                        <table style="margin:0px;background-color: #fff;" class="table  table-bordered table-hover table-striped"  > 
                             <tr>
                            <th class="row-selected">
                                <input class="checkbox check-all" type="checkbox">
                            </th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>上级菜单</th>
                            <th>分组</th>
                            <th>URL</th>
                            <th>排序</th>
                            <th>仅开发者模式显示</th>
                            <th>隐藏</th>
                            <th>操作</th>
                        </tr>
                            <tbody>
                       {notempty name="list"}
                        {volist name="list" id="menu"}
                            <tr>
                                <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$menu.id}"></td>
                                <td>{$menu.id}</td>
                                <td>
                                    {$menu['level_show']}
                                    <a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="title" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['title']}</a>
                                    <a class="add-sub-cate" title="添加子分类" href="{:url('add?pid='.$menu['id'])}">
                                        <i class="fa fa-plus-square"></i>
                                    </a>
                                </td>
                                <td>{$menu.up_title|default='无'}</td>
                                <td>{$menu.group}</td>
                                <td>{$menu.url}</td>
                                <td><a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="sort" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['sort']}</a></td>
                                <td>
                                    <a href="{:url('toogleDev',array('id'=>$menu['id'],'value'=>abs($menu['is_dev']-1)))}"
                                       class="ajax-get">
                                        {$menu.is_dev_text}
                                    </a>
                                </td>
                                <td>
                                    <a href="{:url('toogleHide',array('id'=>$menu['id'],'value'=>abs($menu['hide']-1)))}"
                                       class="ajax-get">
                                        {$menu.hide_text}
                                    </a>
                                </td>
                                <td>
                                    <a title="编辑" href="{:url('edit?id='.$menu['id'])}">编辑</a>
                                    <a class="confirm ajax-get" title="删除" href="{:url('del?id='.$menu['id'])}">删除</a>
                                </td>
                            </tr>
                        {/volist}
                    {else/}
                        <td colspan="10" class="text-center"> aOh! 暂时还没有内容!</td>
                    {/notempty}
                            </tbody>
                        </table>
                    </div> 
                    <div id="tablefanye">
                    <input type="hidden" name="key" value="0" selected>
                        <div role="toolbar" class="btn-toolbar" style="margin-top:10px">
                            <div class="btn-group">
                                <button class="btn btn-default" title="首页" data-placement="top" data-toggle="tooltip" type="button" id="shouye" disabled="">«</button>
                                <button class="btn btn-default" disabled="" type="button" title="上一页" data-placement="top" data-toggle="tooltip" id="shang">&lt;</button>
                                <button {$pages.disabled} class="btn btn-default" type="button" id="pageList">第
                                    <span id="pages">1</span>页/共
                                    <span id="maxpage">{$pages.page}</span>页
                                    <span class="caret"></span></button>
                                <button {$pages.disabled}  class="btn btn-default" title="下一页" data-placement="top" data-toggle="tooltip" type="button" id="next">&gt;</button>
                                <button  {$pages.disabled} class="btn btn-default" title="尾页" data-placement="top" data-toggle="tooltip" type="button" id="lastye">»</button></div>
                            <div class="btn-group">
                                <button class="btn btn-default" title="刷新" data-placement="top" data-toggle="tooltip" type="button" id="refresh" onclick="reFreshData();">
                                    <i class="icon-refresh"></i>
                                </button>
                            </div>
                            <div style="float:right; padding-top:3px" class="btn-group">
                                <span>共记录
                                    <span id="zjilu">{$pages.total}</span>条</span>&nbsp;每页
                                <input type="number" style="width:40px;text-align:center;height:24px;border:1px #dddddd solid;margin:0px 2px;font-size:12px" value="{$pages.pagesize}" id="pagesize" onfocus="" onblur="cPageSize(this)" maxlength="3">条&nbsp;</div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 
<script src="__ROOT__/public/static/js/menu.js"></script> 
{/block}