<!DOCTYPE html> 
<html>
    <head>
        <title>报警短信黑名单</title>
        <meta charset="UTF-8"> 
<!--        <meta name="viewport" http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7;IE=edge,chrome=1,width=device-width, initial-scale=1.0">-->
        <meta  content="IE=9;IE=8;IE=7;IE=edge,chrome=1">
        <script src="__PUBLIC__/jquery-1.12.3.min.js" type="text/javascript" ></script> 
        <!--link rel="stylesheet" type="text/css" href="__PUBLIC__/ztree/css/metroStyle/metroStyle.css" /--> 
        <!--script type="text/javascript" src="__PUBLIC__/ztree/js/jquery.ztree.all.min.js"></script-->
        <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script> 
        <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-datetimepicker.min.js"></script> 
        <link rel="stylesheet" href="__PUBLIC__/home/css/jquery.mCustomScrollbar.min.css">
        <!--[if lt IE 9]>
        <script src="__PUBLIC__/bootstrap/js/respond.js" type="text/javascript" ></script>
        <script src="__PUBLIC__/bootstrap/js/html5shiv.js" type="text/javascript" ></script>
        <script src="__PUBLIC__/bootstrap/js/css3-mediaqueries.js"></script>
        <![endif]--> 
        <link href="__PUBLIC__/home/css/style.css" rel="stylesheet">
        <link href="__PUBLIC__/home/css/report.css" rel="stylesheet">
        <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">   
        <link href="__PUBLIC__/home/font-awesome/css/font-awesome.min.css" rel="stylesheet">   
        <script src="__PUBLIC__/home/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>  
        <!-- script src="__PUBLIC__/home/js/header.js" type="text/javascript"></script -->  
        <script src="__PUBLIC__/home/js/layer/layer.js" type="text/javascript"></script>             
        <script src="__PUBLIC__/home/js/laydate/laydate.js" type="text/javascript"></script> 
        <script src="__PUBLIC__/home/js/pdfobject.min.js" type="text/javascript"></script>  
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/equipment.css">
    </head>

<body>
<div class="body" style="margin-top:0px;">
    <div class="mod-shop">
        <div class="shop-head-title">
            <div class="shop-head-mod clearfix">
                <h2><a href="__ROOT__/index.php/Home/Index" class="shop-tit-back">
                       </a><span>中间件报警短信黑名单录入</span></h2> 
                    <div class="pull-right" style="margin-top:11px;"> 
                    <button id="input_trouble_info" onclick="location.href='__ROOT__/index.php/Home/sms/lists'" class="btn btn-info">查看已有规则</button>
                    <div class="btn-group">
                                <button type="button" class="btn btn-Primary nav"><i class="icon-user"></i> {$sms_user}</button>
                                <button type="button" class="btn btn-Primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="caret"></span></button> 
                                <ul class="dropdown-menu">
                                    <li><a id="loginout" href="#">注销</a></li>
                                    <li><a target="_blank" href="/report/equipment/index.php/Home/Sms/changepw">修改密码</a></li> 
                                </ul> 
                                </div>
                             
                </div>
            </div>
        </div>
        <div class="shop-body">
            <div class="shop-container">
                <form id="inputs" name="inputs">
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span>中间件:</span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto">
                                    <select class="form-control" name ="type" data-act="add" id="type">
                                        <option>请选择</option>
                                        <option>GTP</option>
                                        <option>TongEASY</option>
                                        <option>MQ</option>
                                    </select> 
                                </div>
                            </div></li>
                    </ul>
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span>开始时间:</span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto">
                                    <input type="text" class="form-control" id="strtime" name="strtime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"> 
                                </div>
                                <span style="color:red;">若为空,则立即生效</span>
                            </div></li>
                    </ul>
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span>结束时间:</span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto">
                                    <input type="text" class="form-control" id="endtime" name="endtime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                                </div>
                                <span style="color:red;">若为空,则永久生效</span>
                            </div></li>
                    </ul>
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span>过滤关键字:</span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto">
                                    <p style="font-size:18px;font-weight:800;color:#ffaa22">规则中可以用“+”或“#”联接（+代表“<span>与/and</span>”，#代表“<span>或/or</span>”），<span style="color:red;">关键字为空项则过滤掉所选中间件的所有短信</span>。</p>
                                    <textarea   class="form-control" id="keywords" name="keywords" cols="50" rows="5"></textarea> 
                                </div>
                            </div></li>
                    </ul>
                    <div class="slice"></div>
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span>节点提示：</span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto" style="width: 100%;">
                                    <div class="form-group">
                                    <select name="sysname" id="sysname" class="form-control" style="max-width:200px;float:left;">
                                        <option>请选择系统</option>
                                    </select>
                                    <select name="othername" id="othername" class="form-control" style="max-width:200px;float:left;display:none;">
                                        <option>------</option>
                                    </select> 
                                    </div>
                                </div>
                            </div></li>
                    </ul>
                    <ul class="shop-list">
                        <li class="list"><label class="shop-list-tit"><span> </span></label>
                            <div class="shop-list-con">
                                <div class="shop-ui-block ui-block-auto" style="width: 100%;">
                                    <span id="tabs"></span>
                                </div>
                            </div></li>
                    </ul>
                    <div class="shop-submit-wrap">
                        <div class="shop-submit"> 
                            <a class="shop-btn" id="sub_operate" href="javascript:void(0)">提交</a>
                        </div> 
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/home/js/clearForm.js" type="text/javascript"></script>
<script src="__PUBLIC__/home/js/sms.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    var date = new Date();
    var hours =  minutes =  secondes ='';
    if(date.getHours()<10){
       hours = '0'+date.getHours();
    }else{
         hours = date.getHours();
    }
    if(date.getMinutes()<10){
       minutes = '0'+date.getMinutes();
    }else{
         minutes = date.getMinutes();
    }
    if(date.getSeconds()<10){
       secondes = '0'+date.getSeconds();
    }else{
         secondes = date.getSeconds();
    }
    var nowdate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()+" "+hours+':'+minutes+':'+secondes;
    $("#strtime,#endtime").val(nowdate);
    
    $("#sub_operate").click(function(){
        var type = $("#type").val();
        if(!type||type=="请选择"){
            layer.msg("<span style='color:red'>请选择中间件！</span>");
            $("#type").focus();
            return false;
        } 
        $.ajax({
            url:"__ROOT__/index.php/Home/Sms/input",
            type:"post",
            data:$("#inputs").serialize(),
            success:function(json){
                json = eval("("+json+")");
                layer.msg(json.msg);
                if(json.code=='10000'){
                    clearForm();
                }
            }
        });
        return false;
    });
});

</script> 
</body>
</html>