 <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel" style="height:35px;"> 
        <div class="pull-left  info" >
          <p style="margin: 0;">菜单</p> 
        </div>
      </div> 
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree"> 
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>用户权限</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{$user_menu}"><a href="{:url('index/menu/index')}"><i class="fa fa-circle-o"></i> 菜单管理</a></li>
            <li class="{$user_index}"><a href="{:url('index/user/index')}"><i class="fa fa-circle-o"></i> 用户管理</a></li>
            <li class="{$user_role}"><a href="{:url('/index/role/index')}"><i class="fa fa-circle-o"></i> 角色管理</a></li>
            <li class="{$user_permission}"><a href="{:url('index/user/permission')}"><i class="fa fa-circle-o"></i> 权限管理</a></li>
          </ul>
        </li> 
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>数据库管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{$user_index}"><a href="{:url('index/user/index')}"><i class="fa fa-circle-o"></i> 数据备份</a></li> 
          </ul>
        </li> 
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>