{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css">
<style>
.content-header {
    border-bottom: 1px #d2d6de solid;
    padding-bottom: 10px;
}

.main-box {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #73080a;
    border-radius: 5px;
}

.from-box {
    margin-left: -10px;
    margin-right: 20px;
    margin-top: 20px;
}
</style>
{/block} {block name="body"}
<section class="content-header">
    <h1><a href="{:url('role/index')}" class="link">修改信息</a></h1>
</section>
<div class="main-box clearfix ">
    <form method="post" id="setting_info_form" class="form form-horizontal">
        <div class="row from-box">
            <div class="form-group">
                <label class="col-lg-2 control-label">昵称</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="user_nickname" id="user_nickname" placeholder="昵称" value="{$info.user_nickname}" />
                    <div class="help-block">（必填）
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">手机</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="mobile" id="mobile" value="" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">邮箱</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" name="user_email" id="user_email" value="" />
                    <div class="help-block">
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="id" value="{$info.id|default=''}">
                    <button class="btn btn-success role_add_submit" type="button">确 定</button>
                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </div>
        </div>
    </form>
</div>
{/block}