{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css">
<style>
.content-header {
    border-bottom: 1px #d2d6de solid;
    padding-bottom: 10px;
}

.main-box {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 1px #73080a;
    border-radius: 5px;
}

.from-box {
    margin-left: -10px;
    margin-right: 20px;
    margin-top: 20px;
}
</style>
{/block} {block name="body"}
<section class="content-header">
    <h1><a href="{:url('role/index')}" class="link">修改密码</a></h1>
</section>
<div class="main-box clearfix ">
    <form method="post" id="pass_change_form" action="{:url('Setting/passwordPost')}" chpw="{:url('Setting/checkPassword')}" class="form form-horizontal">
        <div class="row from-box">
            <div class="form-group">
                <label class="col-lg-2 control-label">原始密码</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="password" class="form-control" required="required" name="old_password" id="old_password" value="" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">新密码</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="password" class="form-control" required="required" name="user_password" id="user_password" value="" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">重复新密码</label>
                <div class="col-lg-10 col-sm-10">
                    <input type="password" required="required" class="form-control" name="user_repassword" id="user_repassword" value="" />
                    <div class="help-block">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="id" value="{$id|default=''}">
                    <button class="btn btn-success pass_change_submit" type="button">确 定</button>
                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </div>
        </div>
    </form>
</div>
{/block} {block name="script"}
<script type="text/javascript">
    /**
     * 验证原密码
     * @author 钟朝辉 <zzhhuii@qq.com>
     * @date   2017-11-07T16:33:46+0800 
     */
$("#old_password").on("blur", function() {
    var pw = $(this).val();
    var that = this;
    if (!pw) {
        $(this).focus();
        layer.tips('原密码不能为空', that, { tips: 1 });
        return false;
    }
    var posturl = $("#pass_change_form").attr("chpw");
    $.ajax({
            url: posturl,
            type: 'POST',
            data: { pw: pw },
        })
        .done(function(json) {
            if (json.code != 1) { 
                $(that).focus(); 
                layer.tips(json.msg, that, { tips: 1 });
            }
        })
        .fail(function(json) {
            layer.open({
                title: '系统错误',
                area: ['50%', '80%'],
                content: json.responseText
            });
        });
});
/**
 * 密码修改提交
 * @author 钟朝辉 <zzhhuii@qq.com>
 * @date   2017-11-07T16:34:10+0800 
 */
$(".pass_change_submit").on('click', function() {
    var id = $("[name=id]").val();
    var posturl = $("#pass_change_form").attr("action");
    var user_password = $("#user_password").val();
    var user_repassword = $("#user_repassword").val();
    if(user_password!==user_repassword){
        layer.tips("新密码输入不一致","#user_repassword",{tips:1});
        return false;
    }
    if (!id) {
        layer.msg('param error');
        return false;
    }
    var loading = layer.load(1, {
        shade: [0.5, '#000'] //0.1透明度的白色背景
    });
    $.ajax({
            url: posturl,
            type: 'POST',
            data: $("#pass_change_form").serialize(),
        })
        .done(function(json) {
            layer.close(loading);
            if (json.code == 1) {
                layer.msg(json.msg, { time: 500 }, function() {
                    location.href="{:url('index/publics/logout')}";
                });
            } else {
                layer.msg(json.msg);
            }
        })
        .fail(function(json) {
            layer.close(loading);
            layer.open({
                title: '系统错误',
                area: ['50%', '80%'],
                content: json.responseText
            });
        });

});
</script>
{/block}