{extend name="public/base"}  
{block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css"> 
<style>
.content-header{
    border-bottom: 1px #d2d6de solid;padding-bottom: 10px;
} 
.main-box{margin:20px;background-color:#fff;box-shadow: 0px 0px 1px #73080a; border-radius: 5px;}
.from-box{margin-left:-10px;margin-right: 20px;margin-top:20px;}
</style> 
{/block}
{block name="body"}  
<section class="content-header"> 
   <h1>用户管理 <small>新增用户</small></h1> 
  </section> 
  <div class="container"> 
   <div id="indexcontent"> 
    <div class="main-box clearfix "> 
     <div class="col-lg-12"> 
      <form method="post" id="user_add_form" class="form form-horizontal"> 
       <div class="row from-box"> 
        <div class="form-group"> 
         <label class="col-lg-2 control-label">用户名</label> 
         <div class="col-lg-10 col-sm-10"> 
          <input type="text" class="form-control" name="username" id="username" placeholder="用户名"/> 
          <div class="help-block">
            字母/数字/字母数字组合,登陆时使用（<span class="username_block">必填</span>）
          </div> 
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-lg-2 control-label">昵称/备注</label> 
         <div class="col-lg-10 col-sm-10"> 
          <input type="text" class="form-control" name="user_nick_name" id="user_nick_name" autocomplete="false" value="" /> 
          <div class="help-block">
            昵称
          </div> 
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-lg-2 control-label">密码</label> 
         <div class="col-lg-10 col-sm-10"> 
          <input type="password" class="form-control" name="password" id="password" autocomplete="false" value="" /> 
          <div class="help-block">
           （<span class="password_block">必填</span>）
          </div> 
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-lg-2 control-label">确认密码</label> 
         <div class="col-lg-10 col-sm-10"> 
          <input type="password" class="form-control" name="repassword" id="repassword" autocomplete="false" value="" /> 
          <div class="help-block">
            （<span class="repassword_block">必填</span>）
          </div> 
         </div> 
        </div> 
        <div class="form-group"> 
         <label class="col-lg-2 control-label">邮箱</label> 
         <div class="col-lg-10 col-sm-10"> 
          <input type="text" class="form-control" name="email" id="email" autocomplete="false" value="" /> 
          <div class="help-block">
            
          </div> 
         </div> 
        </div> 
        <div class="form-group"> 
         <div class="col-lg-offset-2 col-lg-10"> 
          <input type="hidden" name="id" value="" /> 
          <button class="btn btn-success user_add_submit" type="button">确 定</button> 
          <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> 
         </div> 
        </div> 
       </div> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div>
<script src="__ROOT__/public/static/js/user.js"></script> 
{/block}