{extend name="public/base"} {block name="style"}
<link rel="stylesheet" href="__ROOT__/public/static/css/user.css">
<style>
#tableShowUsers td {
    text-align: center;
}

.overlay {
    display: none;
}

.user_status {
    cursor: pointer;
}
</style>
{/block} {block name="body"}
<section class="content-header" style="border-bottom: 1px #d2d6de solid;padding-bottom: 10px; ">
    <h1>
        用户管理
        <small>用户列表</small>
      </h1>
    <!--       <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="active">用户列表</li>
      </ol> -->
</section>
<div id="content_users" temp="content">
    <ul class="floats">
        <li class="floats50">
            <if condition="$add eq ok">
                <button type="button" id="user_add_button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>新增用户</button>&nbsp;
            </if>
        </li>
        <!-- <li class="floats30">
                            <div style="width:250px" class="input-group">
                                <input placeholder="用户名/昵称" id="SUserKey" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" click="search" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li> -->
    </ul>
    <div class="blank10"></div>
    <div id="admin">
        <div id="tablebody" style="position:relative;">
            <table style="margin:0px;background-color: #fff;" class="table  table-bordered table-hover table-striped dataTable">
                <tr>
                    <th width="40">#</th>
                    <th>
                        <div align="center">用户名&nbsp;</div>
                    </th>
                    <th>
                        <div align="center">昵称&nbsp;</div>
                    </th>
                    <th>
                        <div align="center">最近登陆时间&nbsp;</div>
                    </th>
                    <th>
                        <div align="center">登录次数&nbsp;</div>
                    </th>
                    <th>
                        <div align="center">状态&nbsp;</div>
                    </th>
                    <th>
                        <div align="center">操作&nbsp;</div>
                    </th>
                </tr>
                <tbody id="tableShowUsers">
                    {volist name='users' id='users' key='key'}
                    <tr>
                        <td width="40">
                            {$key}
                            <input type="hidden" name="userid" value="{$users.id}">
                            <input type="hidden" name="username" value="{$users.user_name}">
                        </td>
                        <td>
                            {$users.user_name}
                        </td>
                        <td>
                            {$users.user_nickname}
                        </td>
                        <td>
                            {if condition="$users['last_login_time'] eq 0"} 该用户还没登陆过 {else /} {:date('Y-m-d H:i:s',$users['last_login_time'])} {/if}
                        </td>
                        <td>
                            {$users.user_logintimes}
                        </td>
                        <td>
                            {if condition='$users.user_name neq admin' } {if condition="$users.user_status eq 1"}
                            <span data-userid="{$users.id}" class="label label-primary  user_status">启用</span> {else/}
                            <span data-userid="{$users.id}" class="label label-danger user_status">禁用</span> {/if} {else/}启用 {/if}
                            <div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </td>
                        <td>{if condition="$users.user_name neq 'admin'"}
                            <a href="{:url('user/edit',array('id'=>$users['id']))}" class="table-link">
                                            编辑
                                        </a>
                            <a href="{:url('user/auth',array('id'=>$users['id']))}" class="table-link">
                                            授权
                                        </a>
                            <a href="javascript:void(0);" go-url="{:url('user/del',array('id'=>$users['id']))}" class="table-link confirm ajax-get-user" del-user="{$users.user_name}">
                                            删除
                                        </a> {/if}
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="pagination">{$page}</div>
        </div>
    </div>
</div>
<script src="__ROOT__/public/static/js/user.js"></script>
{/block}